.about-container {
    background: linear-gradient(to right, #007bff, #00d4ff);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    margin-top: 100px;
    width: 60%;
    background: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.about-content h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}
