.page-container {
    min-height: 100vh; /* Asigură că pagina are cel puțin înălțimea ecranului */
    text-align: center;
    padding-top: 80px; /* Evită suprapunerea cu navbar-ul */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}
