.analysis-container {
    text-align: center;
}

.analysis-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.analysis-form {
    margin-bottom: 20px;
}

.analysis-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-right: 10px;
}

.analysis-add-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
}

.analysis-list {
    list-style: none;
    padding: 0;
    width: 300px;
    margin: 10px auto;
}

.analysis-list-item {
    background: #20232a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analysis-delete-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
