.auth-container {
    background: linear-gradient(to right, #007bff, #00d4ff);
    height: 100vh;
    padding-top: 80px; /* Ajustează pentru a nu fi acoperit de navbar */
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.auth-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.link {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
